<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List Kiriman</ion-title>
    <button class="popover" ion-button icon-only (click)="presentPopover($event);">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="error-state" margin-bottom *ngIf="errorState">
    <h6 class="error-text" text-wrap>Tidak bisa terkoneksi ke internet</h6>
    <button ion-button clear float-right (click)="ionViewDidLoad()">Coba Lagi</button>
  </div>
  <div class="empty-state" *ngIf="emptyState">
    <span>tidak ada kiriman</span>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="itemClick($event, item);">
      <h2 class="title" text-wrap>{{ item.shipment_title }}</h2>
      <h3 text-wrap margin-top>Asal : <span class="value">{{ item.location_from_address }}</span></h3>
      <h3 text-wrap margin-top>Tujuan : <span class="value">{{ item.location_to_address }}</span></h3>
      <h3 text-wrap margin-top>Jarak : <span class="value">{{ item.shipment_length }} Km</span></h3>
      <ion-badge class="status" ngClass="{{ item.additional_class }}">{{ item.status_text }}</ion-badge>
      <button ion-button full default margin-top>Lihat Detail</button>
    </ion-item>
  </ion-list>
  <div>{{ locationTracker.lat }}, {{ locationTracker.lng }}</div>
</ion-content>
