page-home {
    .title {
        width: 80% !important;
    }

    .jarak {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 13px !important;
    }

    .value {
        color: #777 !important;
    }
}